@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: block;
    height: 100%;
    min-width: 300px;
}

h3 {
    margin: 10px auto;
}

ul {
    list-style: none;
}

a {
    display: block;
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: inherit;
}

a: hover {
    cursor: pointer;
}

a[disabled]{
    pointer-events: none;
    cursor: no-drop;
}

button {
    min-width: 150px;
    text-align: left;
    display: block;
    margin-bottom: 10px;
    padding: 5px 15px;
    border: 2px solid rgba(10,10,220,0.8);
    border-radius: 5px;
    background: rgba(10,10,220,0.2);
} 

button:hover {
    cursor: pointer;
    background: rgba(10,10,220,0.8);
    color: white;
}

button[disabled] {
    background: rgba(220,10,10,0.2);
    border: 2px solid rgba(220,10,10,0.8);
    cursor: no-drop;
    color: inherit;
}

.link {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 15px 30px;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 15px;
    background: #eee;
}

.link:hover {
    border: 2px solid black;
    cursor: pointer;
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 100vh;
    min-width: 600px;
}
.modal-screen{
    z-index: 999;
    position: absolute;
    display: block;
    background: rgba(0,150,90,0.3);
    width: 100%;
    min-height: 100vh;
}

.modal-message {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    width: 50%;
    min-width: 300px;
    min-height: 50vh;
    top: 25%;
    left: 25%;
    background: rgba(250,250,250,1);
    border: 5px solid rgba(0,150,90,0.7);
    border-radius: 20px;
}

.modal-screen button {
    text-align: center;
    width: 50%; 
    margin: 0 auto;
}

.modal-message__icon {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 30%;
    min-width: 150px;
    min-height: 150px;
/*    background: #000;*/
    border: 2px solid rgba(0,150,90,0.7);
    border-radius: 50%;
    background: url(../img/home.png) center no-repeat;
    
}

.modal-message__icon-1 {
    background: url(../img/sword.gif) center no-repeat;
    background-size: contain;
} 

.modal-message__icon-2 {
    background: url(../img/knight.gif) center no-repeat; 
    background-size: contain;
}

.modal-message__icon-3 {
    background: url(../img/victory.gif) center no-repeat; 
    background-size: contain;
} 

.superhiddenclass {
    display: none;
}

.header {
    position: relative;
    display: flex;
    width: 100%;
/*    height: auto;*/
    height: 150px;
    background: rgba(200,255,220,1);
    justify-content: space-between;
    vertical-align: center;
}

.menu__nav-item {
    position: relative;
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: auto;
    border: 10px solid rgba(100,255,100,1);
}

.arrow {
    background: url(../img/rightarrow.png) center center no-repeat;
    background-size: 80px 80px;
}

.arrow-right {
    right: 0%;
}

.arrow-left {
    transform: rotate(180deg);
}

.gohome {
    background: url(../img/home.png) center center no-repeat;
    background-size: 80px 80px;
}

.content {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 150px);
}

.crib-list {
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    min-height: 300px;
    background: rgba(220,10,10,0.2);
    width: 40%;
    min-width: 150px;
/*    margin: 10px;*/
/*    padding: 10px 20px;*/
}

.crib-item {
    position: relative;
    padding: 10px 20px;
}

.crib-item:not(:last-child):after {
    height: 2px;
    width: 50%;
    margin: 0 auto;
    content: "";
    background: #000;
    display: block;
/*    position: absolute;*/
    position: relative;
    bottom: -11px;
}

.crib-item:nth-child(2n){
    background: rgba(220,10,10,0.1);
}

.button-list {
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    padding: 10px 20px;
    min-height: 300px;
    width: 100%;
    min-width: 60%;
    min-width: 300px;
    background: rgba(10,10,220,0.2);
}

.desk {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 30px;
    top: 0;
/*    border: 2px solid black;*/
}

.desk-right {
    left: calc(100% - 220px);
}

.logo {
    z-index: 100;
    position: absolute;
/*    border: 2px solid #ccc;*/
    box-shadow: 0px 0px 4px 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: calc(50% + 0px);
    left: calc(50% + 0px);
    text-align: center;
    animation: 12s active linear infinite;
}

.center {
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    border: 5px solid black;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
/*    background: #000;*/
}

.b {
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
}

.anidiv {
    width: inherit;
    height: 2px;
    background: #000;   
}

.divtop {
/*    background: #3fe811;*/
    transform: rotate(0deg) translate(0%,0%);
    animation: 2s step1 linear alternate infinite;
}

.divleft {
    transform: rotate(120deg) translate(0%,0%);
/*    background: #009;*/
    animation: 2s step2 linear alternate infinite;
}

.divright {
    transform: rotate(240deg) translate(0%,0%);
/*    background: #e83f11;*/
    animation: 2s step3 linear alternate infinite;   
}

.deskXO {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    width: 300px;
    height: 300px;
    background: #fff;
    bottom: 0;
    border: 2px solid #000;
    overflow: hidden;
}

.deskXO__ceil {
    width: 33%;
    height: 33%;
    border: 2px solid #898;
   
}

.deskXO__ceil-X {
    background:url(../img/swords.png) center no-repeat;
    background-size: 80px 80px;
    opacity: 0.8;
}

.deskXO__ceil-0 {
    background:  url(../img/helmet.png) center no-repeat;
    background-size: 80px 80px;
}

#placeholder {
    display: flex;
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-content: stretch;*/
    width: 100%;
    height: 300px;
    
    background: #fff;
    border: 2px solid rgba(10,10,220,0.8);
}

#placeholder *{

}

.timer {
    font-size: 3rem;  
}

.product {
    padding: 20px;
    flex-direction: column;
}

.product-image {
    display: block;
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.product-description {
    display: block;
    margin: auto;
}

.traffic-lights {
    height: 100%;
    width: 300px;
    background: #000;
}

.light-signal {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #666;    
}

.light-signal_actived:first-child{
    background: #f66;
}

.light-signal_actived:nth-child(2){
    background: #ff6;
}

.light-signal_actived:last-child{
    background: #6f6;
}

@keyframes active {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes step1 {
    100% {
          transform: rotate(0deg) translate(50%,20%);
    }
}

@keyframes step2 {
    100% {
         transform: rotate(120deg) translate(50%,20%);
    }
}

@keyframes step3 {
    100% {
         transform: rotate(240deg) translate(50%,20%);
    }
}